<h3>Our Story</h3>
<br/>
<div class="row">
  <div class="span9 offset1">
  <p>
    What began as a small group of family and friends,
    determined to continue a young boy’s fight against cancer,
    has evolved into so much more than any of us could have imagined.
  </p>
    <br/>
    <h4>Our Initial Inspiration – Ryan McLaughlin</h4>

  <p>
    Ryan McLaughlin was an adventurous 11-year-old when he was diagnosed
    with t-cell acute lymphoblastic leukemia – an extremely rare form of
    leukemia – in 1998. Already wise beyond his years, Ryan was forced to
    face a grown-up battle. A time when he wanted to play hockey with his friends
    or build rockets in shop class, he had to focus on fighting for survival.
    Chemotherapy, radiation, tubes, IVs, side effects, medication, medical jargon,
    chances of survival, transfusions, scans, and spinal taps all became the
    center of his young life.

    <br/>
    On September 16, 1999, over a year into Ryan’s treatment and just
    two days before his 13th birthday, The Leukemia & Lymphoma Society (LLS)
    held the first DC Light The Night Walk. Ryan walked, alongside his parents
    and three sisters, carrying a white “survivor” balloon. The short walk drained
    nearly all of Ryan’s remaining energy…but he kept walking. He was amazed that
    so many people were out there fighting for him and other patients.

    <br/>
    Ryan and his doctors put the disease into remission three times, but the
    last of these left his immune system without the ability to resist infection.
    Ryan lost his battle in December 1999, at the young age of 13. Ryan left behind
    a heartbroken, but strong, family; his parents, Mike and Prince,
    and his sisters, Sarah, Mary, and Regan.
  </p>
  <br/>
  <h4>We Keep Fighting – The Young Hearts</h4>
  <p>
    In 2000, a group of family and friends banded
    together to continue Ryan McLaughlin’s fight against blood cancer.
    Ryan’s older sister, Sarah (then 16), partnered with her friend,
    Julia, to create a Light The Night Team…a team they named “Young Hearts.”
    They gathered elementary, middle, and high school students and set a
    goal to raise $1,000 for The Leukemia & Lymphoma Society. The Young
    Hearts were astonished when we were able to raise more than $4,000 –
    combined with the funds raised at the first Ryan McLaughlin Memorial
    Golf Tournament, our community was able to donate over $10,000
    to this worthy cause.
  <br/>
    The Young Hearts Light The Night team has participated in the DC
    Walk every year since 2000. The Team Captain role passed from sister
    to sister (Sarah to Mary to Regan), with some wonderful family friends
    stepping in from time to time (Andy, Alli, and Margaret) to take on
    that role – eventually leading to the creation of a leadership committee.
    Building on our success and creative fundraising each year, the Young
    Hearts have continued to support the LLS mission to find a cure for
    blood cancers and improve the quality of life of patients and their families.
  </p>
  <br/>
  <h4>Our Impact in the Community – The Young Hearts Foundation & High School Club</h4>
  <p>
    After nearly a decade participating in the Light The Night Walk,
    the Young Hearts applied to become an IRS-recognized non-profit organization.
    In 2008, The Young Hearts Foundation was created as an official 501(c)3 organization
    with a mission to improve the lives of young people affected by long-term illness
    through raising funds for medical research, providing support for families
    affected, and raising awareness.

    <br/>
    In 2009, the Young Hearts Club was created at WT Woodson High School
    in Fairfax, Virginia. This club, run by an incredible group of students,
    is dedicated to supporting students and their families facing serious
    medical challenges, to bring awareness to these issues and to fund research
    for cures and treatments. Each year, one student leader takes on the role
    of Young Hearts Team Captain for the LLS Light The Night Walk, and all club
    members are encouraged to participate.
  </p>

  <br/>
  <h4>Notable Moments in the Young Hearts’ History</h4>

  <dl>
    <dt>2000</dt>
    <dd>The Young Hearts Light The Night Team is created
      and the first Ryan McLaughlin Memorial Golf Tournament takes place.
    </dd>

    <dt>2005</dt>
    <dd>The first Young Hearts Battle of the Bands is held to raise money for LLS.</dd>

    <dt>2006</dt>
    <dd>The Young Hearts are invited to sing the National Anthem on
      stage at the 2006 Light The Night Walk in Washington, DC.
    </dd>

    <dt>2008</dt>
    <dd>
      The Young Hearts present their first completely student-run, full-length musical production, Pippin.
    </dd>

    <dt>2008</dt>
    <dd>The Young Hearts are honored to receive the Leukemia & Lymphoma
      Society’s Chairman Citation Award (recognizes the outstanding
      accomplishments of individuals who have demonstrated significant
      dedication and commitment to their chapter and are deserving of national recognition.
    </dd>

    <dt>2008</dt>
    <dd>The Young Hearts Foundation, a 501(c)3 non-profit organization, is created.
      The Foundation creates a broader mission to improve the lives of young people
      affected by long-term illness through raising funds for medical research, providing
      support for families affected, and raising awareness.
    </dd>

    <dt>2009</dt>
    <dd>The Young Hearts present their second completely student-run, full-length
      musical production, A Year with Frog and Toad.
    </dd>

    <dt>2009</dt>
    <dd>The Young Hearts Club is established at WT Woodson High School.
      They define themselves as a group of students dedicated to supporting
      students and their families facing serious medical issues, to bring
      awareness to these issues and to fund research for cures and treatments.
    </dd>

    <dt>2009</dt>
    <dd>Andrew Kepley, a founding member of the Young Hearts, takes on
      the big challenge as a candidate for the National Capital Area’s
      Man & Woman of the Year campaign for the Leukemia & Lymphoma Society.
      A 10-week fund raising competition, The Man & Woman of the Year
      campaign challenges ~20 local area professionals to raise as much money
      as possible in the short time allowed. Andrew’s “2X Strong” Campaign,
      dedicated in honor of his brother, Patrick, led him to be named
      Second-Runner-Up for Man of the Year.
    </dd>

    <dt>2009</dt>
    <dd>Celebrating their 10th DC Light The Night Walk, The Young Hearts
      arrange an on-stage, large group hair donation to benefit Locks of Love.
      With the help of Alexandre de Paris Salon, 19 girls donated at least
      10 inches of their hair to create wigs for children with medical hair loss.
    </dd>

    <dt>2010</dt>
    <dd>Mary McLaughlin (Ryan’s younger sister, former Young Hearts
      Team Captain, and now member of the Board of Directors) becomes
      the youngest candidate (21 years old) to ever be nominated and
      participate in the National Capital Area’s Man & Woman of the
      Year Campaign for the Leukemia & Lymphoma Society. The first college
      student to take on this challenge in the area, Mary is named
      First-Runner-Up for Woman of the Year and is awarded the Community
      Involvement Award (thanks to the incredible support of The Young Hearts
      and the local community!).
    </dd>

    <dt>2010</dt>
    <dd>In recognition of continued dedication to the Light The Night
      Walk and the mission of the Leukemia & Lymphoma Society, The
      Young Hearts are awarded the “Relentless for a Cure” award.
    </dd>

    <dt>2011</dt>
    <dd>Former Young Hearts team member, Alexa Romano, becomes
      the second college student to participate in the National
      Capital Area’s Man & Woman of the Year Campaign for the
      Leukemia & Lymphoma Society. Through her successful “Love & Memories”
      campaign, Alexa is named First-Runner-Up for Woman of the Year.
    </dd>

    <dt>2012</dt>
    <dd>Mike Effron, Young Hearts supporter and former classmate
      of Sarah McLaughlin and Andrew Kepley, runs for National
      Capital Area Man of the Year. Through his successful
      “Keep the Light” campaign, Mike is named First-Runner Up
      for Man of the Year and receives the Volunteerism Award.
    </dd>
  </dl>
  </div>
</div>

  <br/>
  <h4>Young Hearts Light The Night Team Captains</h4>
  <div class="row">
    <div class="span5 offset4">
      <table class="table table-striped table-bordered">
        <tr>
          <th>Year</th><th>Captains</th>
        </tr>
        <tr>
          <td>2000</td><td>Sarah McLaughlin & Julia Tedesco</td>
        </tr>
        <tr>
          <td>2001</td><td>Sarah McLaughlin & Julia Tedesco</td>
        </tr>
        <tr>
          <td>2002</td><td>Andy Beck</td>
        </tr>
        <tr>
          <td>2003</td><td>Andy Beck & Mary McLaughlin</td>
        </tr>
        <tr>
          <td>2004</td><td>Mary McLaughlin & Alli Foroobar</td>
        </tr>
        <tr>
          <td>2005</td><td>Mary & Regan McLaughlin</td>
        </tr>
        <tr>
          <td>2006</td><td>Mary & Regan McLaughlin</td>
        </tr>
        <tr>
          <td>2007</td><td>Regan McLaughlin & Margaret Gertzog</td>
        </tr>
        <tr>
          <td>2008</td><td>Regan McLaughlin</td>
        </tr>
        <tr>
          <td>2009</td><td>Regan McLaughlin</td>
        </tr>
        <tr>
          <td>2010</td><td>Claire Whitehead</td>
        </tr>
        <tr>
          <td>2011</td><td>Claire Whitehead</td>
        </tr>
        <tr>
          <td>2012</td><td>Laura Dunn</td>
        </tr>
        <tr>
          <td>2013</td><td>Jessica Laiti</td>
        </tr>
      </table>
    </div>
  </div>
</div>