<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Home</h1>
  <% @events.each do |event| %>
    <div class="entry">
      <h3><%= event.title %></h3>
      <%= sanitize(event.description) %>
    </div>
  <% end %>