<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h3>Home</h3>
  <% @events.each do |event| %>
    <div class="entry">
      <h4><%= event.title %></h4>
      <%= sanitize(event.description) %>
    </div>
  <% end %>