<h1 class="text-left">Contact</h1>
<div id="row">
  <div id="left" class="span5">
    <h5>Board of Directors</h5>
    <ul>
      <li>Prince McLaughlin: Chair and CEO</li>
      <li>Mary Angelo: Vice President</li>
      <li>Lucy Beck: Director</li>
      <li>Sarah Bradley: Vice President</li>
      <li>Michael McLaughlin: Secretary-Treasurer</li>
      <li>Mary McLaughlin: Director</li>
    </ul>
  </div>
  <div id="right" class="span4">
    <h5>Contact Us</h5>
    <address>
      <strong>Young Hearts Foundation</strong><br>
      8971 Colesbury Place<br>
      Fairfax, Virginia 22031<br>
      <abbr title="Phone">Phone:</abbr> (703) 280-0403 <br/>
      Fax: (703) 280-4434
    </address>
    <%=mail_to "YoungHeartsLTN@gmail.com" %>
  </div>
</div>
